@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

body {
    display: grid;
    height: 800px;
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(30, 38%, 92%);
    place-content: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 600px;
    height: 450px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);

}

.info {
    /* display: grid; */
    margin-left: 32px;
    margin-right: 32px;
    /* gap: 16px; */
}

.perfume {
    color: hsl(228, 12%, 48%);
    font-size: 12px;
    letter-spacing: 6px;
    margin-top: 32px;
}

h1 {
    font-family: 'Fraunces', serif;
    line-height: 1;
}

img {
    width: 300px;
    height: 450px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.about {
    color: hsl(228, 12%, 48%);
    font-size: 12.5px;
    letter-spacing: 1px;
    /* line-height: 20px; */
    line-height: 1.8;
    /* font-weight: 500; */
}

.costs {
    display: flex;
    margin-top: 32px;
    align-items: center;
}

.price {
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-size: 32px;
}

.regular-price {
    padding-left: 20px;
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    text-decoration: line-through;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: hsl(158, 36%, 37%);
    color: white;
    width: 100%;
    border: none;
    padding: 14px 14px;
    margin-top: 24px;

    border-radius: 10px;
}

span {
    padding-left: 12px;
}

button:hover {
    cursor: pointer;
    background-color: hsl(158, 36%, 24%);
}

@media(max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        width: 375px;
        height: 620px;
    }

    img {
        width: 375px;
        height: 240px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }

    .perfume {
        margin-top: 16px;
    }

    .costs {
        margin-top: 12px;
    }

    h1 {
        margin-top: 12px;
    }

    button {
        margin-top: 12px;
    }
}

/* .cart {
    width: 15px;
    height: 16px;
} */